  
  .main_page {
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .search input{
    height: 32px;
    color: #ffffff;
    background-color: #161b22;
    border: 1px solid #30363d;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    margin: 10px;
  }
  
  .pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #7d8590;
    justify-content: center;
  }
  .pagination button {
    transition: all 0.3s ease-in-out;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    min-width: 37px;
    cursor: pointer;
  }
  .un_active {
    color: #bdc8d8;
  }
  .active {
    color: #636972;
  }
.repos_block {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  @media (max-width: 800px) {
    .main_page {
        max-width: 100%;
      }
    .full_info_block {
      max-width: 100%;
    }
  }

.error {
  color: #f78166;
}

.loading_block {
  text-align: center;
}

.full_info_block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 70%;
}
.user_repo_info {
  display: flex;
  flex-wrap: wrap;
  color: #2f81f7;
  justify-content: space-between;
  margin: 20px;
  border-bottom: 1px solid #ffffffd0;
  padding: 10px;
}

.user_info {
  display: flex;
}
.user_info a {
  margin: 10px;
  text-decoration: none;
  color: #ffffffd0;
}
.user_info img {
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}

.langs {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.langs span {
  border: 1px solid #f78166;
  color: #ffffffd0;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.descr {
  margin: 20px;
  color: #636972;
  font-size: 16px;
}